* {
margin: 0;
padding: 0; 
box-sizing: border-box;
}

body {
font-family: "Roboto", sans-serif;
}

/* Container responsivo */
.container {
max-width: 1280px;
width: 100%;
margin: 0 auto;
padding: 0 16px; /* importante no mobile */
}

/* HEADER */
header {
padding: 16px 0;
background-color: #182c61;
color: #ecf0f1;
}

header, section h2 {
font-family: "Bungee", sans-serif;
}

header .container {
display: flex;
justify-content: space-between;
align-items: center;
gap: 16px;
flex-wrap: wrap; /* deixa quebrar no mobile */
}

header h1 {
font-weight: normal;
}

header nav ul {
list-style: none;
}

header nav li {
display: inline-block;
margin-left: 16px;
font-size: 18px;
}

header nav li a {
color: #ecf0f1;
text-decoration: none;
}

header nav li a:hover {
text-decoration: underline;
}

/* SEÇÃO */
section {
padding: 24px 0;
}

section .container {
display: flex;
align-items: flex-start;
gap: 32px;
}

.store-front {
width: 100%;
max-width: 50%;
height: auto; /* imagem não distorce */
display: block;
}

.store-content {
display: flex;
flex-direction: column;
gap: 16px;
}

section h2 {
margin-bottom: 16px;
font-weight: normal;
color: #182c61;
}

section p {
margin-bottom: 8px;
}

/* LOGOS */
.brands-list li {
display: inline-block;
margin-right: 10px;
}

.brands-list img {
height: 24px;
width: auto;
display: block;
}

/* MOBILE */
@media (max-width: 768px) /*@media significa que quando a largura da tela for 768px faça.. */{
header .container {
    flex-direction: column;
    align-items: flex-start;
}

header nav li {
    margin-left: 0;
    margin-right: 16px;
}

section .container {
    flex-direction: column; /* empilha */
}

.store-front {
    max-width: 100%; /* imagem ocupa 100% */
}
}
