* {
    margin:0;
    padding: 0;
    box-sizing: border-box;             
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header h1 {
    font-weight: normal;

}
header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}


header nav li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1280px; 
    width: 100%;
    margin: 0 auto;

}

section .container {
    display: flex;            /* coloca os filhos lado a lado  */
    align-items: flex-start; /* alinha pelo topo              */
    gap: 32px;              /* espaço entre imagem e texto   */
}

.store-front {
    max-width: 50%; /*a imagem ocupa no máximo metade da largura da área */
    display: block;
}

.store-content {
    display: flex;
    flex-direction: column; /* coloca h2, p, p, ul um embaixo do outro */
    gap: 16px;              /* espaço entre os blocos de texto        */
}



.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    justify-content: space-between;
    margin-right: 10px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0; /* espaçamento em cima e embaixo do conteúdo */
}

section h2 {
    margin-bottom: 16px;
    font-weight: normal;
    color: #182c61;

}

section p {
    margin-bottom: 8px;
}

body {
font-family: "Roboto", sans-serif;
}

header, section h2 {
    font-family: "Bungee", sans-serif;
}